body {
    font-size: calc(9px + 1vw);
    line-height: calc(1.1em + 0.5vw);
  }

.navBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    gap: 15px;
    background-color: #54494B;
    flex: 1 1 0;
    flex-wrap: wrap;
}

#searchForm{
    display: flex;
    gap: 5px;
    margin-left: 20px;
}

#searchInput {
    min-width: 250px;
    border: 0px solid black;
}

#searchBtn {
    align-self: flex-end;
    font-size: calc(9px + 1vw);
    background-color: #DD6E42;
    color: white;
    margin-left: -5px;
    border: 0px solid black;
    box-sizing: border-box;
}

#searchBtn:hover {
    background-color: darkorange;
}

.temperatureToggle {
    margin-left: auto;
    margin-right: 30px;
    border-radius: 7px;
}

#weatherInfo {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
}

#infoContainer {
    display: flex;
    justify-content: space-around;
    background-color: lavender;
}

#currentWeather {
    background-color: #D4E09B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#forecastInfo {
    background-color: #9CB380;
    padding: 30px;
}

#weatherTextData {
    background-color: #94A89A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#extraWeatherInfo {
    background-color: #54494B;
}

.extraInfoRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #7E8287;
}

.extraInfoBox {
    color: white;
    margin: 0px 50px;
}