body {
    font-size: calc(9px + 1vw);
    line-height: calc(1.1em + 0.5vw);
  }

.navBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 15px 20px 15px;
    gap: 15px;
    background-color: #54494B;
    flex: 1 1 0;
    flex-wrap: wrap;
}

#searchForm{
    display: flex;
    gap: 0px;
    margin-left: 20px;
    align-self: center;
}

#searchInput {
    min-width: 40vw;
    border: 0px solid black;
    padding: 5px 0px 5px 16px;
    font-family: 'Hero New', sans-serif;
    font-size: calc(2px + 1vw);  
    color: black;
    line-height: 1.2;
    border-radius: 12px 0 0 12px;
}

#searchInput:focus-visible {
    outline: 2px solid rgb(137, 207, 235, 0.5);
    z-index: 1; /* this is so the outline takes priority and is not under adjacent elements*/
}

#searchBtn {
    background-color: #DD6E42;
    margin-left: auto;
    border: 0px solid black;
    border-radius: 0 12px 12px 0;
    padding: 5px 10px 5px 7px;
    box-sizing: border-box;
    font-family: 'Hero New', sans-serif;
    font-size: calc(10px + 1vw); 
    font-weight: 500; 
    color: white; 
    line-height: 1.2;
}

#searchBtn:hover {
    background-color: darkorange;
    z-index: 1;
}

#searchBtn:focus-visible {
    outline: 2px solid rgb(137, 207, 235, 0.5);
}

.temperatureToggle {
    margin-left: auto;
    margin-right: 30px;
    border-radius: 10px;
    font-family: 'Hero New', sans-serif;
    font-size: calc(10px + 1vh); 
    font-weight: 300; 
    color: black; 
    padding: 5px 7px 5px 5px;
    line-height: 1.2;
    align-self: center;
}

.temperatureToggle:focus-visible {
    outline: 2px solid rgb(137, 207, 235, 0.5);
}

#weatherInfo {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
}

#infoContainer {
    display: flex;
    justify-content: center;
    background-color: lavender;
    padding: 20px;
}

#currentWeather {
    background-color: #FFD9DA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 50px;
    font-family: 'Hero New', sans-serif;
    font-size: calc(16px + 1vh); 
    font-weight: 400; 
    color: black; 
    line-height: 1.5;
    border-radius: 15px;
}

#forecastInfo {
    background-color: #F3E1DD;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Hero New', sans-serif;
    font-size: calc(12px + 1vh); 
    font-weight: 300; 
    color: black; 
    line-height: 1.5;
    border-radius: 15px;
}

.location {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: calc(24px + 1vh);
    text-align: center;
}

.weatherDescription {
    font-size: calc(10px + 1vh);
    font-weight: 300;
    text-align: center; 
}   

.temperatureActual {
    font-size: calc(40px + 1vh);
    margin-left: 15px;   /* attempting to center this value. hard due to ° sign*/
}

#weatherTextData {
    background-color: #89023E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Hero New', sans-serif;
    font-size: calc(14px + 1vh); 
    font-weight: 400; 
    text-align: center;
    color: #F9FAF8; 
    line-height: 1.2;
}

.forecastBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #CC7178;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 2px 2px 3px #89023E;
}

.dateAndTime0 {
    font-weight: bold;
}

.dateAndTime0,.dateAndTime1,.dateAndTime2 {
    margin-bottom: 15px;
    font-size: calc(18px + 1vh);
}

.chanceOfRain0,.chanceOfRain1,.chanceOfRain2 {
    font-size: calc(8px + 1vh);
    text-align: center;
}

#extraWeatherInfo {
    background-color: #54494B;
    display: flex;
    justify-content: center;
}

.extraInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0px solid #7E8287;
    flex-wrap: wrap;
    gap: 10px;
}

.extraInfoBox {
    color: white;
    font-family: 'Hero New', sans-serif;
    font-size: calc(10px + 1vh); 
    font-weight: 400; 
    line-height: 1.2;
    margin: 0px 50px;
    text-align: center;
    text-wrap: wrap;
}